# Node #################################################################################################################

node_modules
package-lock.json

# Jetbrains ############################################################################################################

.idea

# Typescript ###########################################################################################################

dist

# Docker ###############################################################################################################

.env
